<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Form Tambah Guru</title>
	</head>

	<body>
		<h3>Formulir Guru</h3>
		<form method="post" th:action="@{/user/tambah_data}">
			<table>
				<tr>
					<td><label name="nama_user">Nama User</label></td>
					<td><input name="nama_user"/></td>
				</tr>
				<tr>
					<td><label name="no_hp">No. Hp</label></td>
					<td><input name="no_hp"/></td>
				</tr>
				<tr>
					<td><label name="email">Email</label></td>
					<td><input name="email"/></td>
				</tr>
				<tr>
					<td><label name="alamat1">Alamat</label></td>
					<td><input name="alamat1"/></td>
				</tr>
				<tr>
                    <td>
                    	<input type="submit" value="Submit"/>
                    </td>
                </tr>
			</table>
		</form>
	</body>
</html>