<!-- Modal -->
<div class="row">
	<div class="col-md-4">
      <div class="modal fade" id="modal-detail-data" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
	    <div class="modal-dialog modal-info modal-dialog-centered modal-" role="document">
	        <div class="modal-content bg-gradient-primary">
	        	
	            <div class="modal-header">
	                <h3 class="modal-title" id="modal-title-notification">Detail Data User</h3>
	            </div>
	            
	            <div class="modal-body">
	            	<div class="row">
	                <div class="col-md-5">
	                    <h4 class="text-white">Nama </h4>
	                    <h4 class="text-white">No.Hp </h4>
	                    <h4 class="text-white">Email </h4>
	                    <h4 class="text-white">Alamat 1 </h4>
	                    <h4 class="text-white">Alamat 2 </h4>
	                    <h4 class="text-white">Alamat 3</h4>
	                
	                </div>
	                <div class="col-md-6">
	                    <h4 class="text-white" id="nama_user"></h4>
	                    <h4 class="text-white" id="no_hp"></h4>
	                    <h4 class="text-white" id="email"></h4>
	                    <h4 class="text-white" id="alamat1"></h4>
	                    <h4 class="text-white" id="alamat2"></h4>
	                    <h4 class="text-white" id="alamat3"></h4>
	                	
	                </div>
	                </div>
	            </div>
	            
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Kembali Ke Daftar User</button>
	            </div>
	            
	        </div>
	    </div>
	</div>

  </div>
</div>