<div class="navbar-inner">
	<!-- Collapse -->
	<div class="collapse navbar-collapse" id="sidenav-collapse-main">
		<!-- Nav items -->
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="#master"
				data-toggle="collapse" aria-expanded="false"> <i
					class="ni ni-tv-2 text-red"></i>Master
			</a>
				<ul class="collapse list-unstyled" id="master">
					<li class="nav-item pl-4"><a class="nav-link"
						th:href="@{/user/fe_list}"><i class="fas fa-users text-blue"></i>
							User </a></li>
				</ul></li>

		</ul>

	</div>
</div>
